# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WatarSarsRebirth.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Uni and personal work\Unity Games\WSRebirth\WatarSarsRebirth\.idea\.idea.WatarSarsRebirth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
